@model IEnumerable<StudentManagementProj.Models.registration>

@{
    ViewBag.Title = "Index";
}



<p>
    <br />
    <a href="@Url.Content("~/Registration/Create")" class="btn btn-success"><span class="glyphicon glyphicon-edit">Add New</span> </a>
</p>
<table class="table">
    <tr>
        <th>
            Batch
        </th>
        <th>
            Course
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            NRC
        </th>
        <th>
            Tel - Phone
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.batch.batch1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.course.course1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NRC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tel)
            </td>
            <td>
                <a href="@Url.Content("~/Registration/Edit?id=")@item.Id" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> </a>
                <a href="@Url.Content("~/Registration/Details?id=")@item.Id" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> </a>
                <a href="@Url.Content("~/Registration/Delete?id=")@item.Id" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> </a>

            </td>
        </tr>
    }

</table>
